.layers {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
}

.layer {
    width: 120px;
    height: 120px;
}

.red-layer {
    background-color: salmon;
    position: relative;
    left: 100px;
    top: 160px;
    z-index: 1;
}

.blue-layer {
    background-color: rgb(101, 127, 207);
    position: relative;
    top: 240px;
    z-index: 2;
}

.green-layer {
    background-color: rgb(93, 248, 163);
    position: relative;
    right: 100px;
    top: 320px;
    z-index: 1;
}

/* Можна і не задавати z-index для green-layer та red-layer. */